# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CG20221_03/.vs
CG20221_03/CG20221_03/x64/Debug/CG20221_03.log
CG20221_03/CG20221_03/resources/objects/casa2021/casa.blend1
